# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
backend/venv/
.pytest_cache/

# Environment variables
.env
backend/.env

# VS Code
.vscode/

# MySQL / backups temporales
*.bak
*.tmp
tmp/
